<div class="container my-3">
    <div class="card shadow-sm">
        <div class="card-header">
            <h1>
                TIME.LY
            </h1>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="urlImportField">
                        Calendar Url
                    </label>
                    <div class="input-group mb-3">
                        <input class="form-control"
                               id="urlImportField"
                               placeholder="Enter your url here!">

                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary">GET Events</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
