<div class="container my-3 pb-5">
    <div class="card border-0 shadow-sm">
        <div class="card-body">
            <form [formGroup]="calendarForm"
                  (ngSubmit)="postCalendarInfo()">
                <div class="form-group m-0">
                    <label for="urlImportField">
                        Calendar Url
                    </label>
                    <div class="input-group mb-3">
                        <input type="url"
                               class="form-control"
                               id="urlImportField"
                               formControlName="url"
                               placeholder="Enter your url here!">
                        <div class="input-group-append">
                            <button type="submit"
                                    class="btn btn-success"
                                    [disabled]="calendarForm.invalid">
                                Check calendar url
                            </button>
                        </div>
                        <div class="input-group-append"
                             *ngIf="flags.showReset">
                            <button type="submit"
                                    (click)="resetData()"
                                    class="btn btn-danger">
                                Reset
                            </button>
                        </div>
                    </div>
                    <small class="form-text text-muted pointer"
                           *ngIf="formUrl.value === '' || formUrl.value !== form.sampleUrl else copied"
                           (click)="fillForm()">
                        Sample url: {{form.sampleUrl}}
                    </small>
                    <ng-template #copied>
                        <small class="form-text text-muted">
                            replaced!
                        </small>
                    </ng-template>
                </div>
            </form>
        </div>
    </div>
    <ng-template [ngIf]="calendarInfo">
        <hr class="mt-5">
        <h1 class="my-3">
            {{calendarInfo.title}}
            <small>
                {{calendarInfo.contact_name}}
                ({{calendarInfo.contact_email}})
            </small>
        </h1>
    </ng-template>
    <app-loading *ngIf="flags.loading"></app-loading>
    <div *ngIf="calendarEvents && calendarEvents.length !== 0 else noCalendarEvents">
        <div class="card border-0 my-2 border-0"
             *ngFor="let calendar of calendarEvents">
            <div class="card-body">
                <div class="media">
                    <div class="media-left"
                         *ngIf="calendar.images">
                        <img [src]="generateUrl(calendar)"
                             class="media-object mr-2"
                             style="width:60px">
                    </div>
                    <div class="media-body">
                        <div class="text-primary">
                            {{calendar.title}}
                            <small class="text-muted mx-2"
                                   *ngIf="calendar.start_datetime">
                                {{calendar.start_datetime | date:'medium'}}
                            </small>
                            <small class="text-muted mx-2"
                                   *ngIf="calendar.end_datetime">
                                {{calendar.end_datetime | date:'medium'}}
                            </small>
                        </div>
                        <div *ngIf="calendar.description_short">
                            <hr>
                            {{calendar.description_short}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="pagination">
            <li class="page-item pointer"
                (click)="goToPreviousPage()"
                [ngClass]="{'disabled': params.currentPage === 1}">
                <span class="page-link">Previous</span>
            </li>
            <!--        <li class="page-item pointer"-->
            <!--            *ngFor="let page of params.total_page">-->
            <!--            <a class="page-link" href="#">-->
            <!--                {{page}}-->
            <!--            </a>-->
            <!--        </li>-->
            <li class="page-item pointer"
                (click)="goToNextPage()"
                [ngClass]="{'disabled': params.currentPage === params.total_page_count}">
                <span class="page-link">Next</span>
            </li>
        </ul>
        <small class="text-muted">
            Page: {{params.currentPage}}/{{params.total_page_count}}
            <span class="mx-2 text-black-50">-</span>
            {{params.currentPage * params.per_page}} to {{params.currentPage * params.per_page + params.per_page}}
        </small>
    </div>
    <ng-template #noCalendarEvents>
        <div class="card border-0 my-2"
             *ngIf="!flags.loading">
            <div class="card-body text-muted">
                <small>
                    No events!
                </small>
            </div>
        </div>
    </ng-template>
</div>
